<!DOCTYPE html>
<html>
    <head>
        <title>FR</title>
    </head>

    <body>
        {% if registered %}
        <h1>You have chosen</h1>
        <a href="/">Return to the homepage.</a><br />
        {% else %}
        <h1>Choose your Alliance!</h1>

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>